CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/*.o
build/*moc*
build/Makefile*
build/.q*
build/AppDir/
build/release/
*_autogen/
*.pro.user